<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">Recipe Book</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/recipes']"
            >Recipes</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/shopping-list']"
            >Shopping List</a
          >
        </li>
        <div class="btn-group" ngbDropdown>
          <button
            type="button"
            ngbDropdownToggle
            class="btn btn-default dropdown-toggle"
            id="manage"
          >
            Manage <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" ngbDropdownMenu="manage">
            <li ngbDropdownItem class="dropdown-item">
              <a>Save Data</a>
            </li>
            <li ngbDropdownItem><a>Fetch Data</a></li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</nav>
