<div class="row">
  <div class="col-xs-12">
    <img
      src="{{ recipe.imagePath }}"
      alt=""
      class="img-responsive"
      style="max-height: 300px"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" ngbDropdown>
      <button
        type="button"
        ngbDropdownToggle
        class="btn btn-primary dropdown-toggle"
        id="manage"
      >
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" ngbDropdownMenu="manage">
        <li
          ngbDropdownItem
          class="dropdown-item"
          (click)="toShoppingList(recipe.ingredients)"
        >
          <a href="#">To Shopping List</a>
        </li>
        <li ngbDropdownItem><a href="#">Edit Recipe</a></li>
        <li ngbDropdownItem><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row my-4">
  <div class="col-xs-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} ({{ ingredient.amount }})
      </li>
    </ul>
  </div>
</div>
