<a
  style="cursor: pointer"
  class="list-group-item clearfix"
  [routerLink]="[recipe.id]"
>
  <div class="d-flex flex-row justify-content-between">
    <div>
      <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
      <p class="list-group-item-text">{{ recipe.description }}</p>
    </div>
    <div class="pull-right">
      <img
        src="{{ recipe.imagePath }}"
        alt="{{ recipe }}"
        class="img-responsive"
        style="max-height: 80px"
      />
    </div>
  </div>
</a>
